/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* makes sure content fits to page size */

body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
}

.categories {
    padding-left: 600px;
    padding-right: 30px;
    padding-top: 10px;
    word-spacing: 5px;
}

nav {
    display: flex;
    padding-top: 20px;
    background-color: white;
    width: 100%;
    height: 80px;
    text-align: right;
    justify-content: space-between;
}

nav h3 {
    color: black;
    font-size: 36px;
    font-family: "Cormorant Garamond", serif;
    padding-left: 30px;
}

nav a {
    color: black;
    font-family: "Cormorant Garamond", serif;
    background-color: white;
    font-size: 18px;
    width: 100%;
    height: 80px;
    text-decoration: none;
}

.contbox {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 600px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: white;
}

.contbox p {
    margin-top: 120px;
    font-family: "Cormorant Garamond", serif;
}

.contbox a {
    padding: 25px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    margin-top: 100px !important;
}

.contbox a:hover {
    color: rgb(93, 93, 93);
}